nav {
  width: 100%;
}

body {
  background-image: url(../images/background.png);
  height: 100%;
  width: 100%;

}

.precontainer {
  padding-bottom: 40px;
}

.container {
  position: static;
  height: auto;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;

}

.card-body {
  position: sticky;
}

.clearFix::after{
  content: "";
  display: block;
  clear: both;
}

#Nicole {
  background-color: #4aaaa5;
  padding: 8px 0px 8px 16px;
  position: absolute;
}

img {
  float: left;
  padding-right: 10px;
}

footer {
  position: sticky;
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

.pupboxone {
  padding-left: 30px;
  padding-bottom: 30px;
}

.pupboxtwo {
  padding-left: 30px;
  padding-bottom: 30px;
}

.pupboxthree {
  padding-left: 30px;
  padding-bottom: 30px;
}

.pupboxfour {
  padding-left: 30px;
  padding-bottom: 30px;
}

.pupboxfive {
  padding-left: 30px;
  padding-bottom: 10px;
}

.headpups {
  color: #fff;
  background: #4aaaa5;
  position: static;
  text-align: center;
  margin-right: 10px;

}
